@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,400&display=swap");

*,
html,
body {
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-wrap: nowrap;
}

.container {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  background-color: #1f2937;
  width: 70%;
  padding: 0 15%;
  display: flex;
  justify-content: space-between;
}

.logo {
  color: #f9faf8;
  font-size: 24px;
  display: flex;
  align-items: center;
  padding-top: 15px;
}

.header-list {
  display: flex;
  padding: 15px 0 0 15px;
}

.link-text {
  color: #e5e7eb;
  font-size: 18px;
  margin: 15px;
}

.hero-container {
  width: 70%;
  background-color: #1f2937;
  padding: 10vh 15%;
  display: flex;
  justify-content: space-between;
}

.hero-left,
.hero-right {
  flex: 1;
}

.hero-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 15px;
}

.hero-main-text {
  font-size: 48px;
  font-weight: 700;
  padding: 15px 0;
  color: #f9faf8;
}

.hero-second-text {
  font-size: 18px;
  padding: 15px 0;
  color: #e5e7eb;
}

.hero-button {
  font-size: 18px;
  border-radius: 5px;
  border: none;
  margin: 15px 0;
  padding: 8px 30px;
  background-color: #3882f6;
  color: #f9faf8;
}

.hero-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
}

.fox-image {
  max-width: 100%;
}

.image-source {
  padding: 15px;
  color: #e5e7eb;
  text-decoration: none;
}

.info-container {
  background: #ffffff;
  padding: 5vh 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.title-wrapper {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  display: flex;
  justify-content: center;
  margin: 3vh;
}

.info-box-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-box-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-box {
  flex: 1 0 auto;
  height: 200px;
  width: 200px;
  max-height: 200px;
  max-width: 200px;
  border-style: solid;
  border-color: #3882f6;
  border-width: 5px;
  border-radius: 15px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 3vh;
}

.info-img {
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.info-img.img1 {
  object-position: 15% 40%;
}

.info-img.img2 {
  object-position: 10% 50%;
}

.info-img.img3 {
  object-position: 50% 25%;
}

.info-img.img4 {
  object-position: 60% 25%;
}

.image-subtext {
  display: flex;
  text-align: center;
  padding: 15px;
}
